/*Fonts*/

@font-face {
	font-family: Benton Sans;
	src: url(../benton_sans/BentonSans-Book.otf);
	font-style: normal;
	font-weight: 400
}

@font-face {
	font-family: Benton Sans;
	src: url(../benton_sans/BentonSans-Black.otf);
	font-style: normal;
	font-weight: 800
}

@font-face {
	font-family: Benton Sans;
	src: url(../benton_sans/BentonSans-Medium.otf);
	font-style: normal;
	font-weight: 600
}

@font-face {
	font-family: Tiempos;
	src: url(../tiempos/Tiempos Headline-Regular.otf);
	font-style: normal;
	font-weight: 400
}

@font-face {
	font-family: Plantin;
	src: url(../plantin/PlantinMTPro-Regular.otf);
	font-style: normal;
	font-weight: 400
}

.tiempos {
  font-family: 'Tiempos';
}

.plantin {
  font-family: 'Plantin';
}

/*Transitions*/

@keyframes fade-oscillate {
    0%, 50%, 100%      { opacity: 0; }
    13%, 38%, 63%, 88% { opacity: 0.5; }
    25%, 75%           { opacity: 1; }
    6%, 44%, 56%, 94%  { opacity: 0.25; }
    19%, 31%, 69%, 81% { opacity: 0.75; }
}

.fade-oscillate {
    -webkit-animation: fade-oscillate 4s infinite;
    -moz-animation: fade-oscillate 4s infinite;
    -o-animation: fade-oscillate 4s infinite;
    animation: fade-oscillate 4s infinite;
}

/* LAYOUT */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.group {
	margin: auto;
	text-align: center;
}

/*  GRID OF TWELVE  */
.span_12 {
	width: 100%;
}

.span_11 {
  	width: 91.53%;
}
.span_10 {
  	width: 83.06%;
}

.span_9 {
  	width: 74.6%;
}

.span_8 {
  	width: 66.13%;
}

.span_7 {
  	width: 57.66%;
}

.span_6 {
  	width: 49.2%;
}

.span_5 {
  	width: 40.73%;
}

.span_4 {
  	width: 32.26%;
}

.span_3 {
  	width: 23.8%;
}

.span_2 {
  	width: 15.33%;
}

.span_1 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }

    .span_1, .span_2, .span_3, .span_4, .span_5, .span_6, .span_7, .span_8, .span_9, .span_10, .span_11, .span_12 {
	width: 100%;
	}
}

html {
  box-sizing: border-box;
}

html, body {
  font-family: 'Benton Sans';
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

i {
  cursor: pointer;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #333;
    padding: 0;
    width: 50%;
    margin: 2rem 0;
}

.examine {
  border: 2px solid red;
}

.row {
  display: flex;
	/*align-items: center;*/
}

.center {
	text-align:center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}



/**** Element-specific ****/

/* Home Page */

#content {
	background-color: #fafafa;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px 0;
  text-align: center;
	border-bottom: 2px solid #eee;
	background-color: white;
	z-index: 10
}

#navbar > .section {
  width: 70%;
  margin: 15px auto;
}

.nav-item {
  color: #222;
  font-size: 1.15rem;
  letter-spacing: 4px;
  margin: auto;
  padding-top: 5px;
}

.nav-logo {
  width: 55%;
  margin: auto;
}

#header {
  display: inline-block;
  height: 600px;
  margin-top: 80px;
  /*background-color: #364166;*/
	background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("../A.svg") no-repeat fixed;
  background-size: 650px;
	background-position: 30% 65%;
  color: #333;
	/*border-bottom: 2px solid #eee;*/
}

#header .group {
  width: 75%;
	text-align:left;
}

.header-focus {
  font-size: 3rem;
  display: inline-block;
  margin-top: 140px;
	text-transform: uppercase;
	font-weight:600;
	letter-spacing: 3px;
}

.header-content {
  font-size: 1.4rem;
  display: inline-block;
  margin: 0.5em auto 100px;
}

#downArrow {
  display: block;
  width: 30px;
	margin:auto;
	cursor:pointer;
}

.headline {
	display: inline-block;
  font-size: 1.8rem;
	font-weight: 600;
	margin-bottom:10px;
}

.gradient {
	background: linear-gradient( 45deg, #ffd13a, #4b9ad0 );
	color: white;
	padding: 10px 10px 8px;
}

.gradient_text{
	/*background: -webkit-linear-gradient(45deg, #4b9ad0, #ffd13a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
	letter-spacing: 1px;
	color: #4b9ad0;
}

.num {
  font-size: 2.2rem;
	font-weight: 600;
}

.num-small {
	font-size: 2.5rem;
}

.num-med {
	font-size: 3.5rem;
}

.description{
	font-size:1.5rem;
}

.bar_left {
	border-left: 2px solid #ccc;
}

.pop_graphic {
	height: 150px;
}

.media {
	height:50px;
	margin-bottom:20px
}
